USE [master]
GO
/****** Object:  Database [EnergyGrid]    Script Date: 5/10/2026 7:51:15 PM ******/
CREATE DATABASE [EnergyGrid]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnergyGrid', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EnergyGrid.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnergyGrid_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EnergyGrid_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnergyGrid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnergyGrid]
GO
/****** Object:  Table [dbo].[Certification]    Script Date: 5/10/2026 7:51:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certification](
	[certID] [int] IDENTITY(1,1) NOT NULL,
	[tID] [int] NOT NULL,
	[certificateType] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[certID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergySite]    Script Date: 5/10/2026 7:51:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergySite](
	[siteID] [int] IDENTITY(1,1) NOT NULL,
	[coordinates] [varchar](45) NOT NULL,
	[terrainType] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[siteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[coordinates] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inspection]    Script Date: 5/10/2026 7:51:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspection](
	[inspectID] [int] IDENTITY(1,1) NOT NULL,
	[siteID] [int] NOT NULL,
	[tID] [int] NOT NULL,
	[inspectionDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inspectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InspectionDetails]    Script Date: 5/10/2026 7:51:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectionDetails](
	[unitID] [int] NOT NULL,
	[inspectID] [int] NOT NULL,
	[curEfficiency] [float] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[unitID] ASC,
	[inspectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PowerUnit]    Script Date: 5/10/2026 7:51:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PowerUnit](
	[unitID] [int] IDENTITY(1,1) NOT NULL,
	[siteID] [int] NOT NULL,
	[manufacturer] [varchar](30) NULL,
	[installDate] [date] NULL,
	[maxOutput] [int] NULL,
	[unitType] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[unitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technician]    Script Date: 5/10/2026 7:51:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technician](
	[tID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseLog]    Script Date: 5/10/2026 7:51:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseLog](
	[serialNum] [int] NOT NULL,
	[takenDate] [date] NULL,
	[inspectID] [int] NOT NULL,
	[unitID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[serialNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Certification]  WITH CHECK ADD FOREIGN KEY([tID])
REFERENCES [dbo].[Technician] ([tID])
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD FOREIGN KEY([siteID])
REFERENCES [dbo].[EnergySite] ([siteID])
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD FOREIGN KEY([tID])
REFERENCES [dbo].[Technician] ([tID])
GO
ALTER TABLE [dbo].[InspectionDetails]  WITH CHECK ADD FOREIGN KEY([inspectID])
REFERENCES [dbo].[Inspection] ([inspectID])
GO
ALTER TABLE [dbo].[InspectionDetails]  WITH CHECK ADD FOREIGN KEY([unitID])
REFERENCES [dbo].[PowerUnit] ([unitID])
GO
ALTER TABLE [dbo].[PowerUnit]  WITH CHECK ADD FOREIGN KEY([siteID])
REFERENCES [dbo].[EnergySite] ([siteID])
GO
ALTER TABLE [dbo].[WarehouseLog]  WITH CHECK ADD FOREIGN KEY([unitID], [inspectID])
REFERENCES [dbo].[InspectionDetails] ([unitID], [inspectID])
GO
USE [master]
GO
